<h1>{{artist}}</h1>

<hr> {{#each tracks}}
    <div class="panel panel-default">
        <div class="panel-heading">{{this.title}} by
            <a href="/artists/{{this.displayedname}}">{{this.displayedname}}</a>
        </div>
        <div class="panel-body">
            <ul>
                <li>Track Description: {{this.dataValues.description}} </li>
                <audio controls>
                    <source src="https://s3.amazonaws.com/ffm-datastore/{{this.s3key}}" type="audio/mpeg"> Your browser does not support the audio element.
                </audio>
                <hr>
                <a href="https://s3.amazonaws.com/ffm-datastore/{{this.s3key}}">Download</a>

            </ul>
        </div>
    </div>
{{/each}}