{{#if req.session.email}}
<h2>My Catalog:</h2>
<hr>

<h3>Approved Tracks:</h3>
{{#each tracks}} {{#if this.dataValues.approved}}
<div class="panel panel-success">
    <div class="panel-heading">{{this.dataValues.title}}</div>
    <div class="panel-body">
        <ul>
            <li>Track Description: {{this.dataValues.description}} </li>
            <audio controls>
                <source src="{{this.s3link}}" type="audio/mpeg"> Your browser does not support the audio element.
            </audio>
        </ul>
        <form action="/mycatalog/delete/{{this.dataValues.trackid}}">
            <input type="submit" class="btn btn-primary btn-sm" value="Remove Track" />
        </form>
    </div>

</div>
{{/if}} {{/each}}
<hr>

<h3>Pending:</h3>
{{#each tracks}} {{#if this.dataValues.approved}} {{else}} {{#if this.dataValues.rejected}} {{else}}
<div class="panel panel-warning">
    <div class="panel-heading">{{this.dataValues.title}}</div>
    <div class="panel-body">
        <ul>
            <li>Track Description: {{this.dataValues.description}} </li>
            <audio controls>
                <source src="{{this.s3link}}" type="audio/mpeg"> Your browser does not support the audio element.
            </audio>
        </ul>
        <form action="/mycatalog/delete/{{this.dataValues.trackid}}">
            <input type="submit" class="btn btn-primary btn-sm" value="Remove Track" />
        </form>
    </div>
</div>
{{/if}} {{/if}} {{/each}}
<hr>

<h3>Rejected:</h3>
{{#each tracks}} {{#if this.dataValues.rejected}}
<div class="panel panel-danger">
    <div class="panel-heading">{{this.dataValues.title}}</div>
    <div class="panel-body">
        <ul>
            <li>
                Track Description: {{this.dataValues.description}}
            </li>
            <li>Reason For Rejection: {{this.dataValues.rejectionReason}}</li>
        </ul>
        <form action="/mycatalog/delete/{{this.dataValues.trackid}}">
            <input type="submit" class="btn btn-primary btn-sm" value="Remove Track" />
        </form>
    </div>
</div>
{{/if}} {{/each}} {{else}}
<div class="alert alert-danger">
    <strong>Not Logged In.</strong>
</div>
<h4>Log-in
    <a href="/login">here</a>
</h4>
{{/if}}