{{#if req.session.isValid}}
<h2>Admin Panel:</h2>
<hr>

<h4>Approved:</h4>
{{#each approvedTracks}}
<div class="panel panel-success">
    <div class="panel-heading">{{this.dataValues.title}}</div>
    <div class="panel-body">
        <ul>
            <li>By: {{this.dataValues.email}}</li>
            <li>Track Description: {{this.dataValues.description}} </li>
            <audio controls>
                <source src="{{this.s3link}}" type="audio/mpeg"> Your browser does not support the audio element.
            </audio>
        </ul>
        <form action="/admin/pending/{{this.dataValues.trackid}}" method="POST">
            <input type="submit" class="btn btn-warning" value="Set Pending" />
        </form>
        <p></p>
        <form action="/admin/reject/{{this.dataValues.trackid}}" method="POST">
            <input type="submit" class="btn btn-danger" value="Reject Track" />
        </form>
    </div>

</div>
{{/each}}
<hr>
<h4>Pending:</h4>
{{#each pendingTracks}}
<div class="panel panel-warning">
    <div class="panel-heading">{{this.dataValues.title}}</div>
    <div class="panel-body">
        <ul>
            <li>By: {{this.dataValues.email}}</li>

            <li>Track Description: {{this.dataValues.description}} </li>
            <audio controls>
                <source src="{{this.s3link}}" type="audio/mpeg"> Your browser does not support the audio element.
            </audio>
        </ul>
        <form action="/admin/approve/{{this.dataValues.trackid}}" method="POST">
            <input type="submit" class="btn btn-success" value="Approve Track" />
        </form>

        <p></p>
        <form action="/admin/reject/{{this.dataValues.trackid}}" method="POST">
            <input type="submit" class="btn btn-danger" value="Reject Track" />
        </form>
    </div>
</div>
{{/each}}
<hr>
<h4>Rejected:</h4>
{{#each rejectedTracks}}
<div class="panel panel-danger">
    <div class="panel-heading">{{this.dataValues.title}}</div>
    <div class="panel-body">
        <ul>
            <li>By: {{this.dataValues.email}}</li>

            <li>Track Description: {{this.dataValues.description}} </li>
            <audio controls>
                <source src="{{this.s3link}}" type="audio/mpeg"> Your browser does not support the audio element.
            </audio>
        </ul>


        <form action="/admin/approve/{{this.dataValues.trackid}}" method="POST">
            <input type="submit" class="btn btn-success" value="Approve Track" />
        </form>
        <p></p>
        <form action="/admin/pending/{{this.dataValues.trackid}}" method="POST">
            <input type="submit" class="btn btn-warning" value="Set Pending" />
        </form>

    </div>

    <!--Flush Rejected Tracks 
    get list of rejected on db 
    delete from S3 
    send admin to page showing all deleted tracks.
    -->
    
</div>
{{/each}}
<hr>
<p>

    <form action="/admin/flush" method="get">
        <input type="submit" class="btn btn-info" value="Flush all Rejected Tracks" />
    </form>
</p>
<hr>
<h4>
    <a href="/signout">Sign Out of Admin Panel</a>
</h4>
{{else}} Login to
<a href="/admin">Admin</a>
{{/if}}